.card1 {
  margin-left: 10%;
  width: 80%;
}
.card {
  margin-top: 30px;
  /* flex-wrap: wrap; */
  display: flex;
  /* flex-direction: row;
  justify-content: space-between;
  align-items: center; */
}
.mobile-title {
  /* width: 100%; */
  text-align: center;
  font-size: 70px;
  /* font-weight: 1; */
}
@media only screen and (min-width: 992px) {
  .discription {
    /* margin-top: 30px; */
    width: 45%;
  }

  .card {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .card:nth-child(2n) .title {
    text-align: end;
  }
  .card:nth-child(2n) {
    flex-direction: row-reverse;
  }
  .title {
    text-align: start;
  }
  .card-divider-ver {
    height: 100px;
    width: 2px;
  }
  .flexing {
    width: 45%;
    height: 300px;
  }
  .mobile-title {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .mobile-title {
    display: block;
  }
  .card {
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }
  .title {
    text-align: center;
  }
  .card-divider-ver {
    margin-top: 30px;
    /* justify-self: center; */
    height: 2px;
    width: 20%;
    /* margin-left: 10%; */
  }
  .flexing {
    height: 30vh;
    width: 80vw;
  }
  .content {
    width: 100%;
    /* margin-left: -50%; */
  }
  .discription {
    /* margin-top: 30px; */
    width: 100%;
  }
}
.flexing {
  background: black;
}
/* .discription {
  width: 45%;
} */
.title {
  /* text-align: start; */
  color: white;
  font-size: 40px;
}
/* .card:nth-child(2n) .title {
  text-align: end;
} */
.content {
  font-size: 25px;
  margin-top: 40px;
  color: white;
}
.card-divider-ver {
  background: white;
}
/* .card-divider-hor {
  margin-top: 30px;
  height: 2px;
  width: 80%;
  background: white;
} */
