.tab-section {
  height: 40px;
  margin-top: 50px;
  width: 80%;
  margin-left: 10%;
  border-radius: 5px;
  background: #2980b9;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}
a {
  text-decoration: none;
}
.tab {
  color: black;
  transition: all 200ms ease;
}
.tab:hover {
  color: white;
  border-bottom: 3px solid black;
}
/* TODO fix TAB */
@media only screen and (max-width: 768px) {
  .tab-section {
    display: none;
  }
}
