.card3 {
  margin-top: 30px;
  margin-left: 10%;
  width: 80%;
}
.paper-content {
  background: #1b2531;
  margin-top: 30px;
  border-radius: 5px;
  /* border: white 1px solid; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
/* .paper-img {
  object-fit: cover;
} */
.paper-date {
  color: white;
}
.paper-divider {
  height: 2px;
  background: white;
  width: 5%;
}
@media only screen and (max-width: 768px) {
  .paper-title {
    margin-left: 10px;
  }
  .paper-img {
    height: 25vh;
    width: 75vw;
  }
  .paper-content {
    height: 350px;
  }
}
@media (min-width: 768px) and (max-width: 1800px) {
  .paper-img {
    height: 60vh;
    width: 60%;
  }
  .paper-title {
    font-size: 50px;
  }
  .paper-content {
    height: 600px;
  }
}
