.card2 {
  /* border-radius: 30px;
  
  background: #40407a; */
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
  margin-top: 30px;
  margin-left: 10%;
  width: 80%;
  height: 600px;
}
.div-icon {
  background-color: white;
  height: 1px;
  width: 80%;
}
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: #212325;
  border-radius: 30px;
  height: 200px;
  width: 200px;
}
.icon {
  /* margin-top: 10px; */
  /* margin-right: auto; */
  font-size: 110px;
  color: white;
}
.icon-name {
  text-align: center;
  color: white;
}
