body {
  background: #222f3e;
}
::-webkit-scrollbar {
  background: transparent;
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #353b48;
}

::-webkit-scrollbar-thumb {
  background: #e67e22;
}
::-webkit-scrollbar-thumb:hover {
  background: #d35400;
}
